{% extends 'base.html.twig' %}

{% block title %}New LigneDuPagnier{% endblock %}

{% block body %}
    <h1>Create new LigneDuPagnier</h1>

    {{ include('ligne_du_pagnier/_form.html.twig') }}

    <a href="{{ path('ligne_du_pagnier_index') }}">back to list</a>
{% endblock %}
